#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer; 
  color: #0088cc;
}

.clickable:hover {
  text-decoration:underline;
}

#fade-out-kittens {
  display: none;
}

#slide-down-puppy {
  display: none;
}

.dark-mode {
  background-color: black;
  color: white;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: rgb(224, 222, 63);
}

.red-background {
  background-color: rgb(167, 22, 22);
}

body {
  background-color: white;
  color: black;
}